button .shop-now {
  display: block;
  text-align: center;
  background-color: blue;
  margin: 0 10px 20px;
  cursor: pointer;
  width: 300px;
  height: 45px;
  font-size: 2rem;
  border-radius: 10px;
  color: green;
}
button .order-today {
  display: block;
  text-align: center;
  background-color: blue;
  margin: 0 10px 20px;
  cursor: pointer;
  width: 300px;
  height: 45px;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 10px;
  color: green;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: white;
}
* {
  box-sizing: border-box;
  border: red;
}
.container {
  width: 100%;
  max-width: 1250px;
  background-color: white;
  margin: auto;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 3.5rem;
  font-weight: bold;
  padding-bottom: 5%;
  letter-spacing: 0.03em;
}
h2 {
  font-size: 2.8rem;
  padding-bottom: 10px;
  line-height: 35px;
  letter-spacing: 0.02em;
}
h3 {
  font-size: 2.5rem;
  padding-bottom: 10px;
  line-height: 35px;
  letter-spacing: 0.02em;
}
h4 {
  font-size: 2.2rem;
  padding-bottom: 10px;
  line-height: 35px;
  letter-spacing: 0.02em;
}
h5 {
  font-size: 2rem;
  padding-bottom: 10px;
}
p {
  font-size: 1.8rem;
  line-height: 30px;
  letter-spacing: 0.02em;
  padding-bottom: 10px;
}
a {
  font-size: 1.8rem;
  letter-spacing: 0.02em;
  margin: 0% 2%;
}
img {
  max-width: 100%;
  height: auto;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #202020;
  text-decoration: none;
  width: 100%;
  height: 90px;
}
nav .logo {
  order: 2;
  margin-right: 25%;
}
nav .links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 30%;
  order: 1;
}
nav .links a {
  width: 100%;
  font-size: 1.4rem;
  padding: 0% 3%;
  font-weight: bold;
}
@media (max-width: 500px) {
  nav .links a {
    font-size: 1.2rem;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  background: #E1DACA;
}
footer .master-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer p {
  font-size: 1.2rem;
  text-align: center;
}
footer .footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
  padding-left: 10%;
}
@media (max-width: 500px) {
  footer .footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
}
footer .footer-links-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
footer .footer-links-1 a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  color: #4D4D4D;
  margin: 10% 0%;
}
footer .footer-links-2 {
  display: flex;
  flex-direction: column;
  padding-left: 20%;
}
footer .footer-links-2 a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  color: #4D4D4D;
  margin: 10% 0%;
}
footer .email {
  width: 30%;
  padding-right: 10%;
  align-items: center;
}
@media (max-width: 500px) {
  footer .email {
    width: 100%;
    align-items: center;
  }
}
footer .email h4 {
  font-size: 1.5rem;
}
header .main-content-top {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}
header .main-content-top .banner-text {
  max-width: 600px;
  text-align: center;
  position: absolute;
  top: 40%;
  right: 10%;
}
@media (max-width: 500px) {
  header .main-content-top .banner-text .banner-text {
    text-align: right;
  }
  header .main-content-top .banner-text h1 {
    font-size: 2rem;
  }
  header .main-content-top .banner-text p {
    font-size: 1.5rem;
  }
}
header .main-content-top .banner-text .shop-now {
  color: black;
  font-size: 2rem;
  padding: 16px 30px;
  text-align: center;
  font-weight: bold;
  width: 350px;
  height: 90px;
  background: #cabea8;
  border: 4px solid #202020;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 5%;
  cursor: pointer;
}
@media (max-width: 500px) {
  header .main-content-top .banner-text .shop-now {
    color: black;
    font-size: 1.3rem;
    padding: 10px 30px;
    text-align: center;
    font-weight: bold;
    width: 150px;
    height: 50px;
    background: #cabea8;
    border: 2px solid #202020;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 5%;
    cursor: pointer;
  }
}
header .main-content-top .banner-text .shop-now:hover {
  color: white;
  font-size: 2rem;
  padding: 16px 30px;
  text-align: center;
  font-weight: bold;
  width: 350px;
  height: 90px;
  background: #000000;
  border: 4px solid #202020;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 5%;
}
@media (max-width: 500px) {
  header .main-content-top .banner-text .shop-now:hover {
    color: white;
    font-size: 1.3rem;
    padding: 10px 30px;
    text-align: center;
    font-weight: bold;
    width: 150px;
    height: 50px;
    background: #000000;
    border: 2px solid #202020;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 5%;
  }
}
.main-content-middle-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 750px;
  margin: 0% 5%;
}
@media (max-width: 500px) {
  .main-content-middle-top {
    display: flex;
    flex-direction: column;
    margin: 0% 10%;
    margin-bottom: 10%;
  }
}
.main-content-middle-top .middle-top-copy {
  max-width: 500px;
  margin: 10% 0% 5%;
}
@media (max-width: 500px) {
  .main-content-middle-top .middle-top-copy .middle-top-copy {
    text-align: center;
  }
  .main-content-middle-top .middle-top-copy h1 {
    font-size: 2.2rem;
  }
  .main-content-middle-top .middle-top-copy h3 {
    font-size: 1.8rem;
  }
  .main-content-middle-top .middle-top-copy h4 {
    font-size: 1.5rem;
  }
}
.main-content-middle-top .middle-top-img img {
  max-width: 450px;
}
@media (max-width: 500px) {
  .main-content-middle-top .middle-top-img img {
    max-width: 350px;
  }
}
.main-content-middle-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 750px;
  margin-top: 15%;
  background: #e1daca;
}
@media (max-width: 500px) {
  .main-content-middle-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e1daca;
    height: 900px;
  }
}
.middle-bottom-copy {
  max-width: 550px;
  margin: 5% 5%;
  order: 1;
}
@media (max-width: 500px) {
  .middle-bottom-copy .middle-bottom-copy {
    display: flex;
    text-align: center;
    margin: 0% 5%;
    order: 1;
  }
  .middle-bottom-copy h2 {
    font-size: 2.2rem;
  }
  .middle-bottom-copy h4 {
    font-size: 1.5rem;
    line-height: 190%;
  }
}
.middle-bottom-img img {
  max-width: 450px;
  margin: 0% 5%;
  order: 2;
}
@media (max-width: 500px) {
  .middle-bottom-img img {
    max-width: 350px;
    margin: 10% 0%;
    order: 2;
  }
}
.how-it-works {
  height: 650px;
}
.how-it-works h2 {
  font-size: 2.5rem;
  padding: 5%;
}
@media (max-width: 500px) {
  .how-it-works {
    height: 100%;
  }
  .how-it-works h2 {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 10%;
  }
}
.how-it-works .how-it-works-points {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10%;
}
@media (max-width: 500px) {
  .how-it-works .how-it-works-points {
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
  }
}
.how-it-works .how-it-works-points .step-1 {
  text-align: center;
}
.how-it-works .how-it-works-points .step-1 img {
  width: 80%;
}
.how-it-works .how-it-works-points .step-2 {
  text-align: center;
}
.how-it-works .how-it-works-points .step-2 img {
  width: 80%;
}
.how-it-works .how-it-works-points .step-3 {
  text-align: center;
}
.how-it-works .how-it-works-points .step-3 img {
  width: 80%;
}
.how-it-works .how-it-works-points .step-4 {
  text-align: center;
}
.how-it-works .how-it-works-points .step-4 img {
  width: 80%;
}
.get-started {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background: #3d6600;
  text-align: center;
  color: white;
}
@media (max-width: 500px) {
  .get-started {
    height: 500px;
  }
  .get-started h1 {
    font-size: 2.5rem;
  }
}
.get-started h1 {
  text-transform: uppercase;
}
.get-started .order-today {
  color: white;
  font-size: 2rem;
  padding: 16px 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  width: 350px;
  height: 90px;
  background: #3d6600;
  border: 4px solid white;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 5%;
  cursor: pointer;
}
@media (max-width: 500px) {
  .get-started .order-today {
    color: white;
    font-size: 1.5rem;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 200px;
    height: 80px;
    background: #3d6600;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 5%;
    cursor: pointer;
  }
}
.get-started .order-today:hover {
  color: #3d6600;
  font-size: 2rem;
  padding: 16px 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  width: 350px;
  height: 90px;
  background: #ffffff;
  border: 4px solid white;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 5%;
}
@media (max-width: 500px) and (max-width: 500px) {
  .get-started .order-today:hover {
    color: #3d6600;
    font-size: 1.5rem;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 200px;
    height: 80px;
    background: white;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 5%;
    cursor: pointer;
  }
}
.about-top {
  margin: auto 0;
  width: 100%;
  align-items: center;
}
.about-text {
  max-width: 600px;
  margin: auto 0;
  position: absolute;
  text-align: center;
  color: white;
  top: 40%;
  right: 30%;
}
.about-text h2 {
  margin-top: 40%;
  font-weight: bold;
}
@media (max-width: 500px) {
  .about-text {
    width: 100%;
    margin: auto 0;
    position: absolute;
    text-align: center;
    color: white;
    top: 20%;
    right: 3%;
  }
  .about-text h1 {
    margin-top: 5%;
    font-weight: bold;
    font-size: 1.8rem;
  }
  .about-text h2 {
    margin-top: 5%;
    font-size: 1.5rem;
  }
  .about-text h3 {
    margin-top: 1%;
    font-weight: bold;
    font-size: 1.6rem;
  }
}
.about-team {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #F7F7F8;
}
@media (max-width: 500px) {
  .about-team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.group-1 {
  margin-top: 15%;
  margin-bottom: 15%;
}
.group-1 .Angela {
  height: 400px;
  width: 400px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(182, 182, 182, 0.05);
  border-radius: 5px;
  margin-bottom: 15%;
}
.group-1 .Angela .Angela-text {
  text-align: center;
  margin-top: 5%;
}
.group-1 .Angela .Angela-text h3 {
  color: #3D6600;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.group-1 .Angela .Angela-img {
  display: block;
  text-align: center;
  padding-top: 8%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.group-1 .Sheila {
  height: 400px;
  width: 400px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(182, 182, 182, 0.05);
  border-radius: 5px;
  margin-bottom: 15%;
}
.group-1 .Sheila .Sheila-text {
  text-align: center;
  margin-top: 5%;
}
.group-1 .Sheila .Sheila-text h3 {
  color: #3D6600;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.group-1 .Sheila .Sheila-img {
  display: block;
  text-align: center;
  padding-top: 8%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.group-1 .Jasmine {
  height: 400px;
  width: 400px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(182, 182, 182, 0.05);
  border-radius: 5px;
  margin-bottom: 15%;
}
.group-1 .Jasmine .Jasmine-text {
  text-align: center;
  margin-top: 5%;
}
.group-1 .Jasmine .Jasmine-text h3 {
  color: #3D6600;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.group-1 .Jasmine .Jasmine-img {
  display: block;
  text-align: center;
  padding-top: 8%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.group-1 .Miguel {
  height: 400px;
  width: 400px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(182, 182, 182, 0.05);
  border-radius: 5px;
  margin-bottom: 15%;
}
.group-1 .Miguel .Miguel-text {
  text-align: center;
  margin-top: 5%;
}
.group-1 .Miguel .Miguel-text h3 {
  color: #3D6600;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.group-1 .Miguel .Miguel-img {
  display: block;
  text-align: center;
  padding-top: 8%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.group-2 {
  margin-top: 15%;
}
.group-2 .Robin {
  height: 400px;
  width: 400px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(182, 182, 182, 0.05);
  border-radius: 5px;
  margin-bottom: 15%;
}
.group-2 .Robin .Robin-text {
  text-align: center;
  margin-top: 5%;
}
.group-2 .Robin .Robin-text h3 {
  color: #3D6600;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.group-2 .Robin .Robin-img {
  display: block;
  text-align: center;
  padding-top: 8%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.group-2 .Humayun {
  height: 400px;
  width: 400px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(182, 182, 182, 0.05);
  border-radius: 5px;
  margin-bottom: 15%;
}
.group-2 .Humayun .Humayun-text {
  text-align: center;
  margin-top: 5%;
}
.group-2 .Humayun .Humayun-text h3 {
  color: #3D6600;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.group-2 .Humayun .Humayun-img {
  display: block;
  text-align: center;
  padding-top: 8%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.group-2 .Sammie {
  height: 400px;
  width: 400px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(182, 182, 182, 0.05);
  border-radius: 5px;
  margin-bottom: 15%;
}
.group-2 .Sammie .Sammie-text {
  text-align: center;
  margin-top: 5%;
}
.group-2 .Sammie .Sammie-text h3 {
  color: #3D6600;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.group-2 .Sammie .Sammie-img {
  display: block;
  text-align: center;
  padding-top: 8%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.group-2 .Ali {
  height: 400px;
  width: 400px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(182, 182, 182, 0.05);
  border-radius: 5px;
  margin-bottom: 15%;
}
.group-2 .Ali .Ali-text {
  text-align: center;
  margin-top: 5%;
}
.group-2 .Ali .Ali-text h3 {
  color: #3D6600;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.group-2 .Ali .Ali-img {
  display: block;
  text-align: center;
  padding-top: 8%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
