


footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 350px;
  background: #F7F7F8;

  .footer-links-1 {
    flex-direction: column;
  }

  .footer-links-2 {
    flex-direction: column;
  }



}