// Navigation Styles here //

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dashed gray;
    margin: 20px 0;
    padding: 20px 0;
    

    @media @phone {
        display: flex;
        flex-direction: column;
        align-items: center;   
    }    

    a {
        text-decoration:none; 
        color:black;
        font-size: 1.5rem;
        margin: 0 10px;
        
     } // close anchor 
 // close header

}